.Todos {
    width: 90%;
    max-width: 75ch;
    padding: 1%;
}

.Todos li {
    min-height: 50px;
    border-radius: 0.5rem;
    display: grid;
    align-items: center;
    margin-bottom: 2%;
    text-align: left;
    padding: 0 5%;
}

.Todos li:hover {
    outline: 2px solid white;
    transition: 0.1s;
}
